<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/main.css" />
    <script defer type="module" src="public/js/controllers/ControllerLogin.js"></script>
    <title>Luxury Login</title>
  </head>
  <body>
    <main class="page__login">
      <section class="login">
        <img
          src="public/img/logo-luxury.png"
          alt="logo"
          s
          class="login__logo"
        />
        <form
          action="admin.php?login=false&action=login"
          method="post"
          class="login__form"
          id="form-login"
        >
          <div class="login__block">
            <label for="email" class="form__label">Adresse email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="login__input"
              
            />

            <div class="login__error">
              <span id="errorEmail" class="login__error-text"></span>
            </div>
          </div>
          <div class="login__block">
            <label for="password" class="form__label">Mot de passe</label>
            <input
              type="password"
              name="password"
              id="password"
              class="login__input"
             
            />
            <div class="login__error">
              <span id="errorPassword" class="login__error-text"></span>
            </div>
          </div>
          </div>
          <button type="submit" class="btn login__btn">Connexion</button>
        </form>
      </section>
    </main>
  </body>
</html>
