<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/main.css" />
    <title>Déconnexion</title>
  </head>
  <body>
    <div class="logout">
      <div class="logout__content">
        <h4 class="logout__title">Deconnexion</h4>
        <p class="logout__text">Êtes-vous sur de vouloir vous déconnecter?</p>

    
          <a
            href="admin.php?login=true&action=dashboard"
            id="btn-cancel"
            class="btn logout__cancel"
          >
            Annuler
          </a>

          <a
            href="admin.php?login=true&action=confirmLogout"
            class="btn logout__agree"
            >Confirmer</a
          >
     
      </div>
    </div>
  </body>
</html>
