<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      type="module"
      src="public/js/controllers/ControllerSettings.js"
    ></script>

    <link rel="stylesheet" href="public/css/main.css" />
    <title>Luxury Mon profil</title>
  </head>
  <body class="page__dashboard">
    <div class="sidebar">
      <h1 class="sidebar__title">
        <a
          href="admin.php?login=true&action=dashboard"
          id="dashboard"
          class="sidebar__title-link"
        >
          Administration
        </a>
      </h1>

      <nav class="sidebar__nav">
        <ul class="sidebar__nav-list">
          <li class="sidebar__nav-item">
            <a
              href="admin.php?login=true&action=createAd"
              id="add-ad"
              class="sidebar__nav-link"
            >
              <img
                src="public/img/icons/icon-edit-blue.png"
                alt="icon add"
                class="sidebar__nav-icon"
              />
              <p class="sidebar__nav-text">Créer annonce</p>
            </a>
          </li>

          <li class="sidebar__nav-item">
            <a
              href="admin.php?login=true&action=displayAd"
              id="displayAd"
              class="sidebar__nav-link"
            >
              <img
                src="public/img/icons/icon-ad.png"
                alt="icon add"
                class="sidebar__nav-icon"
              />
              <p class="sidebar__nav-text">Annonces</p>
            </a>
          </li>

          <li class="sidebar__nav-item">
            <a
              href="admin.php?login=true&action=settings"
              id="settings"
              class="sidebar__nav-link"
            >
              <img
                src="public/img/icons/icon-profile.png"
                alt="icon profile"
                class="sidebar__nav-icon"
              />
              <p class="sidebar__nav-text">Mon profil</p>
            </a>
          </li>

          <li class="sidebar__nav-item">
            <a
              href="admin.php?login=true&action=logout"
              id="logout"
              class="sidebar__nav-link"
            >
              <img
                src="public/img/icons/icon-logout.png"
                alt="icon logout"
                class="sidebar__nav-icon"
              />
              <p class="sidebar__nav-text">Deconnexion</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content content__settings">
      <div class="profile">
        <h1 class="profile__title">Mon profil</h1>

        <div class="profile__info">
          <div class="profile__block">
            <p class="profile__label">Nom:</p>
            <p class="profile__text" id="lastname"></p>
          </div>
          <div class="profile__block">
            <p class="profile__label">Prenom:</p>
            <p class="profile__text" id="firstname"></p>
          </div>
          <div class="profile__block">
            <p class="profile__label">Email:</p>
            <p class="profile__text" id="email"></p>
            <button type="button" class="profile__btn" id="edit-email">
              <img
                src="public/img/icons/icon-edit.png"
                alt="icon edit"
                class="profile__btn-icon"
              />
            </button>
          </div>
        </div>
        <div class="profile__background">&nbsp;</div>
      </div>

      <form
        action="admin.php?login=true&action=changeEmail"
        method="post"
        class="popup hidden"
        id="form-changeEmail"
      >
        <div class="popup__content">
          <h4 class="popup__title">Changement email</h4>
          <div class="popup__block">
            <label for="oldEmail" class="popup__label"
              >Ancienne adresse email</label
            >
            <input type="email" name="oldEmail" id="input-oldEmail" class="popup__input" />
            <div class="login__error">
              <span id="error-oldEmail" class="login__error-text"
                ></span
              >
            </div>
          </div>
          <div class="popup__block">
            <label for="newEmail" class="popup__label"
              >Nouvelle adresse email</label
            >
            <input type="email" name="newEmail" id="input-newEmail" class="popup__input" />
            <div class="login__error">
              <span id="error-newEmail" class="login__error-text"
                ></span
              >
            </div>
          </div>
          <div class="popup__btn">
            <button class="btn popup__btn-cancel" id="btn-cancel">
              Annuler
            </button>
            <button type="submit" class="btn popup__btn-agree">Confirmer</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
