.content {
  grid-column: 2/-1;
  background-color: $color-secondary;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $tab) {
    grid-row: 2/-1;
    grid-column: 1/-1;
    height: auto;
  }
  &__logo {
    width: auto;
    @media only screen and (max-width: $mob) {
      width: 100%;
    }
  }

  &__ad {
    min-height: 100vh;
    max-height: 100%;
  }

  &__edit {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }
}
