.homes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50rem));
  justify-content: center;
  align-items: center;
  grid-gap: 4rem;
  margin: 4rem 0;
  @media only screen and (max-width: $tab) {
    grid-gap: 3rem;
  }
  @media only screen and (max-width: $mob) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
