*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 56.25%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.spinner__img {
  height: 6rem;
  width: 6rem;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.expose {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 1000px) {
  .expose {
    grid-template-columns: 1fr;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101d2c;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 510px) {
  .header {
    padding: 0rem;
    width: 100%;
  }
}
.header__logo {
  grid-column: 1/2;
}
.header__logo-link {
  cursor: pointer;
}
.header__logo-img {
  height: 10rem;
  width: 14rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin: 8rem 2rem;
}
@media only screen and (max-width: 510px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.stories {
  margin-top: 2rem;
}

.gallery {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#f9f7f6), color-stop(80%), to(rgba(16, 29, 44, 0.5)));
  background-image: -o-linear-gradient(right top, #f9f7f6, 80%, rgba(16, 29, 44, 0.5));
  background-image: linear-gradient(to left bottom, #f9f7f6, 80%, rgba(16, 29, 44, 0.5));
  display: grid;
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/-1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/-1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.footer {
  background-color: #101d2c;
}
.footer__logo {
  width: 100%;
}
.footer__list {
  list-style: none;
}
@media only screen and (max-width: 1000px) {
  .footer__list {
    margin: 2rem;
  }
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item:not(:nth-child(2n)) {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__item:not(:nth-child(2n)):hover, .footer__item:not(:nth-child(2n)):active {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  border-radius: 2px;
}
.footer__link {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
}
@media only screen and (max-width: 510px) {
  .footer__link {
    font-size: 2rem;
  }
}

.homes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 50rem));
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 4rem;
  margin: 4rem 0;
}
@media only screen and (max-width: 1000px) {
  .homes {
    grid-gap: 3rem;
  }
}
@media only screen and (max-width: 510px) {
  .homes {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(109, 93, 75, 0.6);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2px;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 570px) {
  .login {
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
  }
}
.login__logo {
  grid-column: 1/2;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
@media only screen and (max-width: 570px) {
  .login__logo {
    border-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    justify-self: center;
  }
}
.login__input {
  height: 3rem;
  border: none;
  border-radius: 2px;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  opacity: 0.8;
  width: 100%;
}
.login__form {
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 570px) {
  .login__form {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.login__block {
  margin-bottom: 2rem;
}
.login__btn {
  font-size: 2rem;
  background-color: #101d2c;
  color: #fff;
}
@media only screen and (max-width: 570px) {
  .login__btn {
    width: 80%;
    justify-self: center;
  }
}
.login__error {
  margin-top: 0.5rem;
}
.login__error-text {
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #fff388;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: #c69963;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    grid-row: 1/2;
    grid-column: 1/-1;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    grid-template-columns: 1fr;
  }
}
.sidebar__title {
  margin: 5rem 0;
  background-color: rgba(109, 93, 75, 0.7);
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1000px) {
  .sidebar__title {
    margin: 0;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.sidebar__title-link {
  cursor: pointer;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 1000px) {
  .sidebar__title-link {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .sidebar__nav {
    width: 100%;
    padding: 2rem;
  }
}
.sidebar__nav-list {
  list-style: none;
}
@media only screen and (max-width: 1000px) {
  .sidebar__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.sidebar__nav-item {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 1000px) {
  .sidebar__nav-item {
    margin-bottom: 0;
  }
}
.sidebar__nav-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 510px) {
  .sidebar__nav-icon {
    margin-right: 0;
  }
}
.sidebar__nav-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sidebar__nav-text {
  color: #fff;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 1000px) {
  .sidebar__nav-text {
    display: none;
  }
}
.sidebar__nav-text:hover, .sidebar__nav-text:active {
  color: #101d2c;
}
.sidebar__nav-text--active {
  color: #6d5d4b;
  font-weight: 400;
}

.content {
  grid-column: 2/-1;
  background-color: #101d2c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .content {
    grid-row: 2/-1;
    grid-column: 1/-1;
    height: auto;
  }
}
.content__logo {
  width: auto;
}
@media only screen and (max-width: 510px) {
  .content__logo {
    width: 100%;
  }
}
.content__ad {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__edit {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
}

.btn {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  border: none;
  padding: 1.5rem 2rem;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.navigation {
  grid-column: 2/-1;
  justify-self: flex-end;
}
@media only screen and (max-width: 510px) {
  .navigation {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 510px) {
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
@media only screen and (max-width: 510px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    width: 100%;
  }
}
.navigation__item {
  margin-right: 4rem;
}
@media only screen and (max-width: 510px) {
  .navigation__item {
    margin-right: 0;
  }
}
.navigation__link {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__link:hover, .navigation__link:active {
  color: #c69963;
}
.navigation__link--active {
  color: #c69963;
}
.navigation__checkbox {
  display: none;
}
.navigation__btn {
  display: none;
  position: relative;
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 510px) {
  .navigation__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 510px) {
  .navigation__btn {
    height: 4rem;
    width: 4rem;
    border: 2px solid #c69963;
    margin: 0 1rem;
  }
  .navigation__btn:hover, .navigation__btn:active {
    border: 2px solid #6d5d4b;
  }
}
.navigation__icon-link {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 1rem;
}
.navigation__background {
  display: none;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 510px) {
  .navigation__background {
    height: 4rem;
    width: 4rem;
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  display: block;
  position: fixed;
  -webkit-transform: scale(80);
      -ms-transform: scale(80);
          transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #6d5d4b;
  display: inline-block;
}
@media only screen and (max-width: 510px) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
@media only screen and (max-width: 510px) {
  .navigation__icon::before {
    top: -0.6rem;
  }
}
.navigation__icon::after {
  top: 0.8rem;
}
@media only screen and (max-width: 510px) {
  .navigation__icon::after {
    top: 0.6rem;
  }
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.overview {
  display: grid;
  grid-template-rows: 1fr -webkit-min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.93)), to(rgba(16, 29, 44, 0.93))), url(../../public/img/agency.jpg);
  background-image: -o-linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../../public/img/agency.jpg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../../public/img/agency.jpg);
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 510px) {
  .overview {
    grid-template-rows: repeat(2, -webkit-min-content) 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .overview {
    grid-row: 2/3;
  }
}
.overview__title {
  margin: 8rem 8rem;
}
@media only screen and (max-width: 510px) {
  .overview__title {
    margin: 4rem 0;
  }
}
.overview__title-main {
  font-size: 5rem;
  font-family: "Nunito", sans-serif;
  color: #b28451;
  font-weight: 300;
  display: block;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 510px) {
  .overview__title-main {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
}
.overview__title-sub {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-left: 10rem;
}
@media only screen and (max-width: 510px) {
  .overview__title-sub {
    font-size: 2rem;
  }
}
.overview__btn {
  background-color: #b28451;
  justify-self: center;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.overview__btn:hover, .overview__btn:active {
  background-color: #c69963;
}
.overview__seeonn {
  -ms-flex-item-align: center;
      align-self: center;
}
.overview__seeonn-title {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}
.overview__seeonn-title::before, .overview__seeonn-title::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.overview__seeonn-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media only screen and (max-width: 510px) {
  .overview__seeonn-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.overview__seeonn-img {
  max-width: 100%;
  max-height: 2.5rem;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}
@media only screen and (max-width: 510px) {
  .overview__seeonn-img {
    margin-bottom: 2rem;
  }
}

.realtor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101d2c;
  padding: 4rem;
}
@media only screen and (max-width: 1000px) {
  .realtor {
    grid-row: 3/4;
  }
}
.realtor__title {
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-size: 2.5rem;
  font-weight: 100;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 2rem;
}
.realtor__all {
  margin: 2rem;
}
.realtor__block {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin: 2rem 0;
}
.realtor__profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.realtor__detail-name {
  font-size: 2rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
.realtor__detail-sold {
  font-size: 1.4rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  display: block;
}

.feature {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1rem;
  padding: 2rem;
}
.feature__icon {
  grid-row: 1/-1;
  align-self: flex-start;
  width: 6rem;
  height: 6rem;
}
@media only screen and (max-width: 510px) {
  .feature__icon {
    width: 4rem;
    height: 4rem;
  }
}
.feature__title {
  font-size: 2rem;
  color: #54483a;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.feature__text {
  grid-column: 2/-1;
  grid-row: 2/-1;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
}

.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 1000px) {
  .story {
    grid-template-columns: 1fr;
  }
}
.story__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 153, 99, 0.8)), to(rgba(198, 153, 99, 0.8))), url(../img/background-story.jpg);
  background-image: -o-linear-gradient(rgba(198, 153, 99, 0.8), rgba(198, 153, 99, 0.8)), url(../img/background-story.jpg);
  background-image: linear-gradient(rgba(198, 153, 99, 0.8), rgba(198, 153, 99, 0.8)), url(../img/background-story.jpg);
  background-size: cover;
  background-position: center;
  height: 70rem;
}
.story__pictures--1 {
  width: 60%;
  opacity: 0.6;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
@media only screen and (max-width: 1000px) {
  .story__pictures--1 {
    display: none;
  }
}
.story__content {
  grid-column: 2/-1;
  background-color: #f9f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.story__content-title--sub {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b28451;
}
.story__content-title--main {
  font-size: 4.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
@media only screen and (max-width: 510px) {
  .story__content-title--main {
    font-size: 3.5rem;
  }
}
.story__block {
  width: 80%;
}
.story__text {
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  margin-bottom: 3rem;
}
.story__btn {
  background-color: #b28451;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -ms-flex-item-align: center;
      align-self: center;
}
.story__btn:hover, .story__btn:active {
  background-color: #c69963;
}

.home {
  display: grid;
  gap: 2rem;
  border-radius: 2px;
  background-color: rgba(198, 153, 99, 0.2);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.home__img {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home__name {
  justify-self: center;
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 100;
  color: #fff;
  background-color: #101d2c;
  padding: 1rem 1.5rem;
  width: 70%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-radius: 2px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.home__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content) 15rem;
  grid-template-rows: repeat(2, min-content) 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f7f6;
}
@media only screen and (max-width: 510px) {
  .home__details {
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
}
.home__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}
.home__description {
  grid-column: 1/-1;
  grid-row: 3/-1;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  padding: 1rem;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.home__text {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  color: #54483a;
}
.home__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.home__btn {
  grid-column: 1/-1;
  font-size: 2.5rem;
  color: #fff;
  background-color: #c69963;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.home__btn:hover, .home__btn:active {
  background-color: #b28451;
}

.announcement {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.7)), to(rgba(16, 29, 44, 0.7))), url(../../public/img/background-announcement.jpg);
  background-image: -o-linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../../public/img/background-announcement.jpg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../../public/img/background-announcement.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.announcement__heading {
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
}
.announcement__title {
  grid-row: 1/2;
  margin: 8rem;
}
@media only screen and (max-width: 1000px) {
  .announcement__title {
    margin: 2rem;
  }
}
@media only screen and (max-width: 510px) {
  .announcement__title {
    margin: 0;
    margin-bottom: 2rem;
  }
}
.announcement__title-main {
  font-size: 5rem;
  font-family: "Nunito", sans-serif;
  color: #b28451;
  font-weight: 300;
  display: block;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 510px) {
  .announcement__title-main {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.announcement__title-sub {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-left: 10rem;
}
@media only screen and (max-width: 1000px) {
  .announcement__title-sub {
    margin-left: 5rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 510px) {
  .announcement__title-sub {
    margin-left: 0rem;
    display: none;
  }
}
.announcement__text {
  grid-row: 2/3;
  margin-bottom: 2rem;
  width: 40%;
  font-size: 2rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  justify-self: center;
}
@media only screen and (max-width: 1000px) {
  .announcement__text {
    width: 60%;
  }
}
@media only screen and (max-width: 510px) {
  .announcement__text {
    width: 90%;
  }
}
.announcement__link {
  margin: 8rem;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  background-color: #c69963;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  justify-self: flex-end;
}
.announcement__link:hover, .announcement__link:active {
  background-color: #b28451;
}
@media only screen and (max-width: 1000px) {
  .announcement__link {
    margin: 4rem;
  }
}
@media only screen and (max-width: 510px) {
  .announcement__link {
    margin: 2rem;
  }
}

.form {
  z-index: 200;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 65rem;
  height: auto;
  padding: 2rem;
  background-color: rgba(16, 29, 44, 0.2);
  display: grid;
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr;
  row-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .form {
    width: 100%;
  }
}
.form__label {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  display: block;
  margin-bottom: 0.2rem;
}
.form__input {
  height: 3rem;
  width: 80%;
  border: none;
  border-radius: 2px;
  background-color: #6d5d4b;
  color: #fff;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 1rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.form__select {
  height: 3rem;
  width: 30rem;
  background-color: rgba(109, 93, 75, 0.8);
  border: none;
  border-radius: 2px;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1000px) {
  .form__select {
    width: 50%;
  }
}
.form__message {
  width: 100%;
  height: 20rem;
  background-color: #6d5d4b;
  border: none;
  border-radius: 2px;
  font-size: 2rem;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.form__btn {
  justify-self: flex-end;
  background-color: #b28451;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.form__btn:hover, .form__btn:active {
  background-color: #c69963;
}

.section__form {
  position: relative;
}

.video {
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}
.video__content {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #fff;
}

.list {
  width: 95%;
}
@media only screen and (max-width: 1000px) {
  .list {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.list__item {
  padding: 1rem 0rem;
  background-color: rgba(109, 93, 75, 0.4);
  display: grid;
  grid-template-columns: repeat(6, 1fr) -webkit-min-content;
  grid-template-columns: repeat(6, 1fr) min-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.list__item:nth-child(odd) {
  background-color: #6d5d4b;
}
@media only screen and (max-width: 1000px) {
  .list__item {
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(6, -webkit-min-content);
    grid-template-rows: repeat(6, min-content);
    border-radius: 0;
  }
}
.list__img {
  width: 10rem;
  height: 10rem;
  justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1000px) {
  .list__img {
    grid-row: 1/-1;
    grid-column: 1/2;
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 510px) {
  .list__img {
    width: 10rem;
    height: 10rem;
  }
}
.list__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #fff;
}
@media only screen and (max-width: 1000px) {
  .list__detail {
    grid-column: 2/-1;
  }
}
.list__detail-name {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #aaa;
  margin-left: 1rem;
}
.list__detail-text {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .list__detail-text {
    margin-bottom: 2rem;
  }
}
.list__btn {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1000px) {
  .list__btn {
    grid-column: 6/7;
    grid-row: 1/-1;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    height: auto;
  }
}
.list__btn-modify {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .list__btn-modify {
    margin-bottom: 2rem;
  }
}
.list__btn-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.list__btn-icon {
  width: 3rem;
  height: 3rem;
  border: none;
}
.list__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #fff;
}

.profile {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
  background-color: #6d5d4b;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}
@media only screen and (max-width: 1000px) {
  .profile {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}
@media only screen and (max-width: 510px) {
  .profile {
    row-gap: 2rem;
  }
}
.profile__title {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1000px) {
  .profile__title {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-bottom: 0;
  }
}
.profile__background {
  grid-row: 1/-1;
  height: 50rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.8)), to(rgba(16, 29, 44, 0.8))), url(../../public/img/background-settings.jpg);
  background-image: -o-linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../../public/img/background-settings.jpg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../../public/img/background-settings.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1000px) {
  .profile__background {
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 35rem;
  }
}
.profile__info {
  align-self: flex-start;
  grid-row: 2/-1;
}
@media only screen and (max-width: 1000px) {
  .profile__info {
    grid-row: 3/-1;
    grid-column: 1/-1;
    border-top: 1px solid #aaa;
    padding-top: 2rem;
  }
}
.profile__block {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content) -webkit-min-content;
  grid-template-columns: repeat(2, max-content) min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.profile__block:not(:last-of-type) {
  margin-bottom: 1rem;
}
.profile__label {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #aaa;
}
@media only screen and (max-width: 510px) {
  .profile__label {
    font-size: 1.8rem;
  }
}
.profile__text {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #fff;
}
@media only screen and (max-width: 510px) {
  .profile__text {
    font-size: 1.8rem;
  }
}
.profile__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.profile__btn-icon {
  width: 2rem;
  height: 2rem;
}

.edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  justify-self: center;
  background-color: #54483a;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1000px) {
  .edit {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
}
@media only screen and (max-width: 510px) {
  .edit {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 100%;
  }
}
.edit__title {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 4rem;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: #fff;
  margin: 2rem;
}
@media only screen and (max-width: 1000px) {
  .edit__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 510px) {
  .edit__title {
    font-size: 2rem;
  }
}
.edit__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1.5rem 0.5rem;
}
.edit__label {
  grid-column: 1/-1;
  grid-row: 1/2;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
}
.edit__input {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/-1;
  height: 3rem;
  border: none;
  border-radius: 3px;
  min-width: 8rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  background-color: #c69963;
  color: #f9f7f6;
}
.edit__input-file {
  color: #fff;
}
.edit__overview {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  cursor: pointer;
}
.edit__overview-icon {
  width: 2rem;
  height: 2rem;
}
.edit__description {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-max-content -webkit-min-content;
  grid-template-rows: min-content max-content min-content;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1.5rem;
}
.edit__description-text {
  justify-self: center;
  width: 100%;
  min-height: 10rem;
  padding-left: 0;
  padding: 1rem;
  resize: vertical;
}
.edit__description-btn {
  justify-self: flex-end;
}
.edit__select {
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  border: none;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: #101d2c;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 2rem;
}
@media only screen and (max-width: 1000px) {
  .edit__select {
    justify-self: flex-start;
  }
}
.edit__send {
  grid-column: 1/-1;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: #c69963;
  color: #fff;
  width: 100%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.edit__send:hover, .edit__send:active {
  background-color: #b28451;
}
.edit__send-create {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  justify-self: flex-end;
  background-color: #101d2c;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.edit__send-create:hover, .edit__send-create:active {
  background-color: #142539;
}

.popup {
  height: 100vh;
  width: 100%;
  background-color: #101d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.popup__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 1.5rem;
  width: 60rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(109, 93, 75, 0.6);
  padding: 2rem;
  border-radius: 2px;
}
@media only screen and (max-width: 510px) {
  .popup__content {
    background-color: rgba(109, 93, 75, 0.4);
    width: 100%;
    height: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.popup__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}
@media only screen and (max-width: 510px) {
  .popup__title {
    font-size: 2rem;
    text-align: center;
  }
}
.popup__text {
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.popup__cancel {
  grid-column: 1/2;
  grid-row: 3/-1;
  justify-self: center;
  align-self: center;
  background-color: #101d2c;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 2px;
  padding: 0.3rem 1.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.popup__cancel:hover, .popup__cancel:active {
  background-color: #142539;
}
.popup__agree {
  grid-column: 2/-1;
  grid-row: 3/-1;
  justify-self: center;
  align-self: center;
  background-color: #b28451;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 2px;
  padding: 0.3rem 1.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.popup__agree:hover, .popup__agree:active {
  background-color: #c69963;
}

.errorJs {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.errorJs img {
  height: 3rem;
  width: 3rem;
  fill: #c69963;
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
.errorJs p {
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.changeEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #101d2c;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.changeEmail__content {
  background-color: #6d5d4b;
  padding: 4rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 50rem;
}
@media only screen and (max-width: 510px) {
  .changeEmail__content {
    width: 100%;
    padding: 2rem;
  }
}
.changeEmail__text {
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.changeEmail__title {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.changeEmail__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}
.changeEmail__label {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}
.changeEmail__input {
  margin-top: 1rem;
  height: 3rem;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  padding-left: 1rem;
}
.changeEmail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.changeEmail__btn-cancel {
  background-color: #101d2c;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0.5rem 1rem;
}
.changeEmail__btn-cancel:hover, .changeEmail__btn-cancel:active {
  background-color: #142539;
}
.changeEmail__btn-agree {
  background-color: #b28451;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.changeEmail__btn-agree:hover, .changeEmail__btn-agree:active {
  background-color: #c69963;
}

.page__contact {
  background-color: #101d2c;
}

.page__login {
  background-color: #101d2c;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__dashboard {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 20rem) 1fr;
  grid-template-columns: minmax(min-content, 20rem) 1fr;
  height: 100vh;
}
@media only screen and (max-width: 1000px) {
  .page__dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.page__displayAd {
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
@media only screen and (max-width: 1000px) {
  .page__displayAd {
    grid-template-rows: repeat(2, -webkit-min-content) 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;
  }
}