.changeEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $color-secondary;
  transition: all 0.3s;

  &__content {
    background-color: $color-grey-dark-2;
    padding: 4rem;
    @include boxShadow;
    border-radius: 2px;
    width: 50rem;
    @media only screen and (max-width: $mob) {
      width: 100%;
      padding: 2rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    font-family: $font-primary;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-family: $font-display;
    font-weight: 300;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  &__label {
    font-size: 1.8rem;
    font-family: $font-display;
    font-weight: 300;
    color: #fff;
  }

  &__input {
    margin-top: 1rem;
    height: 3rem;
    font-size: 1.8rem;
    font-family: $font-primary;
    padding-left: 1rem;
  }

  &__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-cancel {
      background-color: $color-secondary;
      color: #fff;
      transition: all 0.2s;
      padding: 0.5rem 1rem;
      &:hover,
      &:active {
        background-color: $color-secondary-light;
      }
    }

    &-agree {
      background-color: $color-primary-dark;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 300;
      padding: 0.5rem 1rem;

      transition: all 0.2s;
      &:hover,
      &:active {
        background-color: $color-primary;
      }
    }
  }
}
