.edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  justify-self: center;
  background-color: $color-grey-dark-1;
  border-radius: 2px;
  @include boxShadow;
  @media only screen and (max-width: $tab) {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
  @media only screen and (max-width: $mob) {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }

  &__title {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    font-size: 4rem;
    font-family: $font-primary;
    font-weight: 200;
    color: #fff;
    margin: 2rem;
    @media only screen and (max-width: $tab) {
      grid-column: 1/-1;
      grid-row: 1/2;
      font-size: 3rem;
    }

    @media only screen and (max-width: $mob) {
      font-size: 2rem;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
  }

  &__label {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 1.8rem;
    font-family: $font-primary;
    font-weight: 300;
    color: #fff;
  }

  &__input {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/-1;
    height: 3rem;
    border: none;
    border-radius: 3px;
    min-width: 8rem;
    @include boxShadow;
    font-family: $font-primary;
    font-size: 1.8rem;
    padding-left: 0.5rem;
    background-color: $color-primary;
    color: $color-grey-light-1;
    &-file {
      color: #fff;
    }
  }

  &__overview {
    border: none;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__description {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: min-content max-content min-content;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;

    &-text {
      justify-self: center;
      width: 100%;
      min-height: 10rem;
      padding-left: 0;
      padding: 1rem;
      resize: vertical;
    }

    &-btn {
      justify-self: flex-end;
    }
  }

  &__select {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    border: none;
    padding: 1rem 1.5rem;
    @include boxShadow;
    background-color: $color-secondary;
    font-size: 1.8rem;
    font-family: $font-primary;
    font-weight: 300;
    color: #fff;
    margin: 2rem;
    @media only screen and (max-width: $tab) {
      justify-self: flex-start;
    }
    &-item {
    }
  }

  &__send {
    grid-column: 1/-1;
    font-size: 2rem;
    font-family: $font-display;
    font-weight: 300;
    background-color: $color-primary;
    color: #fff;
    width: 100%;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: $color-primary-dark;
    }

    // a voir
    &-create {
      width: min-content;
      justify-self: flex-end;
      background-color: $color-secondary;
      transition: all 0.2s;
      &:hover,
      &:active {
        background-color: $color-secondary-light;
      }
    }
  }
}
