.home {
  position: relative; // a voir
  display: grid;
  gap: 2rem;
  border-radius: 2px;
  background-color: rgba($color-primary, 0.2);
  @include boxShadow;

  &__img {
    grid-column: 1/-1;
    grid-row: 1/2;
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    justify-self: center;
    font-size: 2.5rem;
    font-family: $font-primary;
    text-align: center;
    font-weight: 100;
    color: #fff;
    background-color: $color-secondary;
    padding: 1rem 1.5rem;
    width: 70%;
    min-width: min-content;
    border-radius: 2px;
    height: min-content;
    align-self: flex-end;
    @include boxShadow;
    z-index: 2;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content) 15rem; // a voir
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light-1;
    @media only screen and (max-width: $mob) {
      grid-template-rows: repeat(3, min-content);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  &__description {
    grid-column: 1/-1;
    grid-row: 3/-1;
    font-size: 1.8rem;
    font-family: $font-primary;
    padding: 1rem;
    width: 100%;
    height: min-content;
  }

  &__text {
    font-size: 2rem;
    font-family: $font-primary;
    color: $color-grey-dark-1;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  &__btn {
    grid-column: 1/-1;
    font-size: 2.5rem;
    color: #fff;
    background-color: $color-primary;
    transition: all 0.2s;
    text-align: center;
    &:hover,
    &:active {
      background-color: $color-primary-dark;
    }
  }
}
