.list {
  width: 95%;

  @media only screen and (max-width: $tab) {
    width: 100%;
    align-self: flex-start;
  }
  &__item {
    padding: 1rem 0rem;
    background-color: rgba($color-grey-dark-2, 0.4);
    display: grid;
    grid-template-columns: repeat(6, 1fr) min-content;
    justify-content: space-around;
    border-radius: 2px;
    align-items: center;
    transition: all 0.2s;
    &:nth-child(odd) {
      background-color: $color-grey-dark-2;
    }
    @media only screen and (max-width: $tab) {
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: repeat(6, min-content);
      border-radius: 0;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    justify-self: center;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    @include boxShadow;
    @media only screen and (max-width: $tab) {
      grid-row: 1/-1;
      grid-column: 1/2;
      width: 15rem;
      height: 15rem;
    }

    @media only screen and (max-width: $mob) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #fff;
    @media only screen and (max-width: $tab) {
      grid-column: 2/-1;
    }

    &-name {
      font-size: 1.6rem;
      font-family: $font-primary;
      font-weight: 300;
      color: $color-grey-light-2;
      margin-left: 1rem;
    }

    &-text {
      margin-left: 1rem;
      font-size: 1.8rem;
      font-family: $font-primary;
      font-weight: 300;
      color: #fff;
      @media only screen and (max-width: $tab) {
        margin-bottom: 2rem;
      }
    }
  }

  &__btn {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row: 1rem;
    height: 100%;
    align-items: center;
    @media only screen and (max-width: $tab) {
      grid-column: 6/7;
      grid-row: 1/-1;
      grid-template-rows: repeat(2, min-content);

      height: auto;
    }

    &-modify {
      background-color: transparent;
      border: none;
      cursor: pointer;
      @media only screen and (max-width: $tab) {
        margin-bottom: 2rem;
      }
    }

    &-remove {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      border: none;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    border-left: 1px solid #fff;
  }
}
