.navigation {
  grid-column: 2/-1;
  justify-self: flex-end;

  @media only screen and (max-width: $mob) {
    margin-right: 2rem;
  }
  &__nav {
    @media only screen and (max-width: $mob) {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;

    list-style: none;
    @media only screen and (max-width: $mob) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
    }
  }

  &__item {
    margin-right: 4rem;
    @media only screen and (max-width: $mob) {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: $font-primary;
    font-weight: 100;
    color: #fff;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: $color-primary;
    }

    &--active {
      color: $color-primary;
    }
  }

  //

  &__checkbox {
    display: none;
  }

  &__btn {
    display: none;
    position: relative;
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: 2000;
    cursor: pointer;
    transition: all 0.2s;
    @media only screen and (max-width: $mob) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media only screen and (max-width: $mob) {
      height: 4rem;
      width: 4rem;
      border: 2px solid $color-primary;
      margin: 0 1rem;

      &:hover,
      &:active {
        border: 2px solid $color-grey-dark-2;
      }
    }
  }

  &__icon {
    &-link {
      width: 3.3rem;
      height: 3.3rem;
      margin-right: 1rem;
    }
  }

  &__background {
    display: none;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgba(black, 0.8);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    @media only screen and (max-width: $mob) {
      height: 4rem;
      width: 4rem;
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    display: block;
    position: fixed;
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    transform: rotate(-45deg);

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
      display: inline-block;
      @media only screen and (max-width: $mob) {
        width: 2rem;
        height: 2px;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
      @media only screen and (max-width: $mob) {
        top: -0.6rem;
      }
    }
    &::after {
      top: 0.8rem;
      @media only screen and (max-width: $mob) {
        top: 0.6rem;
      }
    }
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
