.popup {
  height: 100vh;
  width: 100%;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 1.5rem;
    width: 60rem;
    @include boxShadow;
    background-color: rgba($color-grey-dark-2, 0.6);
    padding: 2rem;
    border-radius: 2px;

    @media only screen and (max-width: $mob) {
      background-color: rgba($color-grey-dark-2, 0.4);
      width: 100%;
      height: 100%;
      align-content: center;
      justify-content: center;
    }
  }

  @include boxShadow;
  &__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    font-family: $font-display;
    font-weight: 300;
    color: #fff;
    @media only screen and (max-width: $mob) {
      font-size: 2rem;
      text-align: center;
    }
  }

  &__text {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    font-family: $font-primary;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  &__cancel {
    grid-column: 1/2;
    grid-row: 3/-1;
    justify-self: center;
    align-self: center;
    background-color: $color-secondary;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 2px;
    padding: 0.3rem 1.5rem;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: $color-secondary-light;
    }
  }

  &__agree {
    grid-column: 2/-1;
    grid-row: 3/-1;
    justify-self: center;
    align-self: center;
    background-color: $color-primary-dark;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 2px;
    padding: 0.3rem 1.5rem;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: $color-primary;
    }
  }
}
