<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/main.css" />
    <script
      defer
      type="module"
      src="public/js/controllers/ControllerAd.js"
    ></script>

    <title>Luxury Annonces</title>
  </head>
  <body>
    <header class="header" id="top">
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img
            src="public/img/logo-luxury.png"
            alt="logo"
            class="header__logo-img"
          />
        </a>
      </div>

      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__btn">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/" class="navigation__link">Home</a>
            </li>
            <li class="navigation__item">
              <a
                href="annonces"
                class="navigation__link navigation__link--active"
                >Annonces</a
              >
            </li>
            <li class="navigation__item">
              <a href="contact" class="navigation__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <div class="announcement">
          <div class="announcement__heading">
            <h1 class="announcement__title">
              <span class="announcement__title-main">Luxury</span>
              <span class="announcement__title-sub"
                >Un accompagnement de qualité, votre avenir assuré</span
              >
            </h1>

            <p class="announcement__text">
              Que vous souhaitiez vendre ou acheter un bien immobilier , nous
              nous ferions un plaisir de vous accompagner dans vos démarches ,
              vous aurez un réel suivi de la part de nos équipes . Nos agents
              sont spécialisés et reconnus dans le domaine, ils partageront avec
              vous leurs expériences afin de mener à bien votre projet.
            </p>
            <a href="contact" class="btn announcement__link">Nous contacter</a>
          </div>
        </div>
      </section>

      <section class="homes"></section>

      <footer class="footer">
        <ul class="footer__list">
          <div class="footer__block">
            <li class="footer__item">
              <a href="contact" class="footer__link">Contact</a>
            </li>
            <li class="footer__item">
              <a href="#top" class="footer__link">
                <img
                  src="public/img/logo-luxury.png"
                  alt="logo"
                  class="footer__logo"
                />
              </a>
            </li>
            <li class="footer__item">
              <a href="annonces" class="footer__link">Annonces</a>
            </li>
          </div>
        </ul>
      </footer>
    </main>
  </body>
</html>
